/* 공통 스타일 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9fafb;
  color: #111827;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 1.1rem;
}

::-webkit-scrollbar {
  display: none;
}

/* 전체 레이아웃 */
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 2.5rem;
  flex-wrap: nowrap;
}



/* 반응형(공통 컨테이너 등) */
@media (max-width: 1200px) {
  .container {
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 1rem;
  }

}

@media (max-width: 576px) {
  body {
    font-size: 0.8rem;
  }
 
}
