<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>학식 알리미</title>

    <!-- 외부 CSS 파일 연결 -->
<!--    <link rel="stylesheet" href="/assets/css/index.css" />-->
    <link rel="stylesheet" href="/assets/components/navbar.css" />
    <link rel="stylesheet" href="/assets/features/login/login.css" />
    <link rel="stylesheet" href="/assets/features/calendar/calendar.css" />
    <link rel="stylesheet" href="/assets/features/menu/menu.css" />
</head>
<body>
<!-- 상단 헤더 영역 -->
<header class="header"></header>
<main id="main-content">

</main>
<!-- JavaScript 파일 연결 -->
<script type="module">
    // navbar.js 안에 renderNavbar import
    import { renderNavbar } from "/assets/components/navbar.js";
    renderNavbar();
</script>
<script type="module" src="/assets/features/calendar/calendar.js"></script>
<script type="module" src="/assets/features/menu/menu.js"></script>
<script type="module" src="/assets/js/index.js"></script>
</body>
</html>
